/*
* Weights helper mixin
*
* Usage:
    map-get($weights, "medium")
*/
$weights: ();

/* Weight values */
$weights-light: 300;
$weights-normal: 400;
$weights-medium: 500;
$weights-semibold: 600;
$weights-bold: 700;

/* Setting values */
$weights: map-merge($weights, (
    "light": $weights-light,
    "normal": $weights-normal,
    "medium": $weights-medium,
    "semibold": $weights-semibold,
    "bold": $weights-bold,
));