/* Section */
.section {
    @include grid;

    @include desktop-up {
        padding: $size-10 $size-3;
    }

    @include tablet-only {
        padding: $size-9 $size-5;
    }

    @include mobile-only {
        padding: $size-9 $size-3;
    }
}


/* Modifiers */

// Grayish white background
.section--grey {
    background-color: $color-grey;
}